@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --color-primary: #005829;
  --color-btn-nav: #e5e5e5;
  --color-btn-hover:#198754;
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --z-fixed: 100
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

html, body {
    background-color: #E5E5E5;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

#id {
  overflow: hidden;
}